[package]
name = "mathilde-binary-transport"
version = "0.1.0"
edition = "2024"
license = "MIT OR Apache-2.0"

[lib]
path = "src/lib.rs"

[dependencies]

[dev-dependencies]
criterion = "0.5"

[[bench]]
name = "mathldbt_transport"
harness = false
